body {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.2rem;
  text-shadow: 0px 0px 0.25vw #fff;
  input {
    font-size: 1.5rem;
  }
}

.底 {
  position: fixed;
  align-items: center;
  bottom: 0.2rem;
  font-size: 1rem;

  p {
    padding: 0 1rem;
  }
}

.怪 {
  &::after {
    content: "]";
  }

  &::before {
    content: "[";
  }
}
