body {
  text-align: center;
  padding-top: 4vh;
  font-size: 3.6vh;
  text-shadow: 0px 0px 0.5vh #fff;
  input {
    font-size: 3.6vh;
  }
}

.底 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 1rem;

  p {
    padding: 0 1rem;
  }
}

.怪 {
  &::after {
    content: "]";
  }

  &::before {
    content: "[";
  }
}
